<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
 <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OBİ GAYRİMENKUL | Şifre Güncelleme</title>
    <meta name="description" content="Obi Gayrimenkul. Gaziantep'te mülk satma ve kiralamanın en kolay yolu.">
    <meta name="author" content="Uğur Bilgin">
    <meta name="keyword" content="Gaziantep, satılık, kiralık, emlak, gayrimenkul, obi, şahinbey, şehitkamil, emlak danışmanı,
                                      Gaziantep emlak, Gaziantep satılık, Gaziantep kiralık, Gaziantep emlak ofisi, Gaziantep daire,
                                      Gaziantep emlak ilanları, Şahinbey kiralık, Şahinbey satılık, Şehitkamil kiralık, Şehitkamil satılık">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/fontello.css">
    <link href="/assets/fonts/icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet">
    <link href="/assets/fonts/icon-7-stroke/css/helper.css" rel="stylesheet">
    <link href="/assets/css/animate.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/assets/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/icheck.min_all.css">
    <link rel="stylesheet" href="/assets/css/price-range.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.css">
    <link rel="stylesheet" href="/assets/css/owl.theme.css">
    <link rel="stylesheet" href="/assets/css/owl.transitions.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">
</head>
<body>

    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <!-- Body content -->

    <div class="header-connect">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-8  col-xs-12">
                    <div class="header-half header-call">
                        <p>
                            <span><i class="pe-7s-call"></i> 0530 962 36 36</span>
                            <span><i class="pe-7s-mail"></i> ugur@obigayrimenkul.com</span>
                        </p>
                    </div>
                </div>
                <div class="col-md-2 col-md-offset-5  col-sm-3 col-sm-offset-1  col-xs-12">
                    <div class="header-half header-social">
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End top header -->

    <nav class="navbar navbar-default ">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Menüyü Aç/Kapat</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home"><img src="/assets/img/logo.png" alt=""></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse yamm" id="navigation">
                <div class="button navbar-right">
                    <button class="navbar-btn nav-button wow bounceInRight login" onclick=" window.open('/adverts/sell-house')" data-wow-delay="0.4s">Evimi Sat/Kirala</button>
                </div>
                <ul class="main-nav nav navbar-nav navbar-right">
                    <li class="wow fadeInDown" data-wow-delay="0.1s"><a class="" href="/home">Ana Sayfa</a></li>
                    <li class="wow fadeInDown" data-wow-delay="0.2s"><a class="" href="/properties">İlanlar</a></li>
                    <li class="wow fadeInDown" data-wow-delay="0.3s"><a href="/contact">İletişim</a></li>
                    <li class="wow fadeInDown" data-wow-delay="0.4s"><a href="/documents">Belgelerimiz</a></li>
                    <li class="dropdown ymm-sw " data-wow-delay="0.1s" id="logged-in-user-dropdown">
                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown" data-hover="dropdown" data-delay="200">
                            <span id="userName">Kullanıcı</span><b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu navbar-nav">
                            <li class="wow fadeInDown" data-wow-delay="0.2s"><a href="/users/" id="profileLink">Profil</a></li>
                            <li class="wow fadeInDown" data-wow-delay="0.2s"><a href="/adverts/create">İlan Ekle</a></li>
                            <li class="wow fadeInDown" data-wow-delay="0.2s"><a href="/user-properties/" id="user-properties-link">İlanlarım</a></li>
                            <li class="wow fadeInDown" data-wow-delay="0.2s"><a href="/adverts/client-requests">Müşteri İstekleri</a></li>
                            <li class="wow fadeInDown" data-wow-delay="0.2s"><a href="#" id="logoutButton">Çıkış Yap</a></li>
                        </ul>
                    </li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!-- End of nav bar -->

    <div class="page-head">
        <div class="container">
            <div class="row">
                <div class="page-head-content">
                    <h1 class="page-title">Merhaba : <span class="orange strong">Çalışan İsmi</span></h1>
                </div>
            </div>
        </div>
    </div>
    <!-- End page header -->

    <!-- property area -->
    <div class="content-area user-profiel" style="background-color: #FCFCFC;">
        &nbsp;
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 profiel-container">

                    <form action="" method="">

                        <div class="profiel-header">
                            <h3>
                                ŞİFRENİ <b>DEĞİŞTİR</b> <br>
                                <small>Yeni şifreni iki kez girmen gerekecek.</small>
                            </h3>
                            <hr>
                        </div>

                        <div class="clear">

                            <div class="col-sm-10 col-sm-offset-1">
                                <div class="form-group">
                                    <label>Şifre <small>(zorunlu)</small></label>
                                    <input name="Password" type="password" class="form-control" id="change-password">
                                </div>
                                <div class="form-group">
                                    <label>Şifre Tekrar : <small>(zorunlu)</small></label>
                                    <input type="password" class="form-control" id="change-password-repeat">
                                </div>
                            </div>
                            <div class="col-sm-10 col-sm-offset-1">
                                <input type='button' class='btn btn-finish btn-primary pull-right' name='update' value='Güncelle' />
                            </div>

                        </div>




                    </form>

                </div>
            </div><!-- end row -->

        </div>
    </div>

    <!-- Footer area-->
    <div class="footer-area">

        <div class=" footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 wow fadeInRight animated" style="width: 50%;">
                        <div class="single-footer">
                            <h4>Hakkımızda </h4>
                            <div class="footer-title-line"></div>

                            <img src="~/assets/img/footer-logo.png" alt="" class="wow pulse" data-wow-delay="1s">
                            <p>Gaziantepte ev satın almak veya kiralamanın enk kolay yolu!</p>
                            <ul class="footer-adress">
                                <li><i class="pe-7s-map-marker strong"> </i> Adres</li>
                                <li><i class="pe-7s-mail strong"> </i> ugur@obigayrimenkul.com</li>
                                <li><i class="pe-7s-call strong"> </i> 0530 962 36 36</li>
                            </ul>

                            <div class="social pull-left" style="margin-top: 1rem;">
                                <ul>
                                    <li><a class="wow fadeInUp animated" href="https://www.facebook.com/" data-wow-delay="0.2s"><i class="fa fa-facebook"></i></a></li>
                                    <li><a class="wow fadeInUp animated" href="https://plus.google.com/" data-wow-delay="0.3s"><i class="fa fa-whatsapp"></i></a></li>
                                    <li><a class="wow fadeInUp animated" href="https://instagram.com/" data-wow-delay="0.4s"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 wow fadeInRight animated" style="width: 50%;">
                        <div class="single-footer">
                            <h4>Hızlı Bağlantılar </h4>
                            <div class="footer-title-line"></div>
                            <ul class="footer-menu">
                                <li><a href="/home">ANA SAYFA</a>  </li>
                                <li><a href="/properties">İLANLAR</a>  </li>
                                <li><a href="/contact">İLETİŞİM</a></li>
                                <li><a href="/adverts/sell-house">EVİMİ <strong>SATMAK / KİRALAMAK</strong> İSTİYORUM</a>  </li>
                                <li><a href="/documents">BELGELERİMİZ</a>  </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copy text-center">
            <div class="container">
                <div class="row">
                    <div class="pull-left">
                        <span> (C) <a href="">Obi Gayrimenkul</a> , Tüm hakları saklıdır 2024  </span>
                    </div>
                    <div class="bottom-menu pull-right">
                        <ul>
                            <li><a class="wow fadeInUp animated" href="/home" data-wow-delay="0.2s">Ana Sayfa</a></li>
                            <li><a class="wow fadeInUp animated" href="/properties" data-wow-delay="0.3s">İlanlar</a></li>
                            <li><a class="wow fadeInUp animated" href="/documents" data-wow-delay="0.4s">Belgelerimiz</a></li>
                            <li><a class="wow fadeInUp animated" href="/contact" data-wow-delay="0.6s">İletişim</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/assets/js/modernizr-2.6.2.min.js"></script>

    <script src="/assets/js/jquery-1.10.2.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/bootstrap-select.min.js"></script>
    <script src="/assets/js/bootstrap-hover-dropdown.js"></script>

    <script src="/assets/js/easypiechart.min.js"></script>
    <script src="/assets/js/jquery.easypiechart.min.js"></script>

    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/wow.js"></script>

    <script src="/assets/js/icheck.min.js"></script>
    <script src="/assets/js/price-range.js"></script>

    <script src="/assets/js/main.js"></script>
    <script src = "/assets/js/logged-user-dropdown.js"></script>
    <script src="/assets/js/change-password.js"></script>

</body>
</html>