<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
 <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OBİ GAYRİMENKUL | İlan Düzenle</title>
    <meta name="description" content="Obi Gayrimenkul. Gaziantep'te mülk satma ve kiralamanın en kolay yolu.">
    <meta name="author" content="Uğur Bilgin">
    <meta name="keyword" content="Gaziantep, satılık, kiralık, emlak, gayrimenkul, obi, şahinbey, şehitkamil, emlak danışmanı,
                                      Gaziantep emlak, Gaziantep satılık, Gaziantep kiralık, Gaziantep emlak ofisi, Gaziantep daire,
                                      Gaziantep emlak ilanları, Şahinbey kiralık, Şahinbey satılık, Şehitkamil kiralık, Şehitkamil satılık">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/fontello.css">
    <link href="/assets/fonts/icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet">
    <link href="/assets/fonts/icon-7-stroke/css/helper.css" rel="stylesheet">
    <link href="/assets/css/animate.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/assets/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/icheck.min_all.css">
    <link rel="stylesheet" href="/assets/css/price-range.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.css">
    <link rel="stylesheet" href="/assets/css/owl.theme.css">
    <link rel="stylesheet" href="/assets/css/owl.transitions.css">
    <link rel="stylesheet" href="/assets/css/wizard.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">
</head>
<body>

    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <!-- Body content -->

    <div class="header-connect">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-8  col-xs-12">
                    <div class="header-half header-call">
                        <p>
                            <span><i class="pe-7s-call"></i> 0530 962 36 36</span>
                            <span><i class="pe-7s-call"></i> 0530 861 25 27</span>
                        </p>
                    </div>
                </div>
                <div class="col-md-2 col-md-offset-5  col-sm-3 col-sm-offset-1  col-xs-12">
                    <div class="header-half header-social">
                        <ul class="list-inline">
                            <li><a href="https://www.facebook.com/obidanismanlik/"><i class="fa fa-facebook"></i></a></li> 
                            <li><a href="https://www.instagram.com/obidanismanlik/"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="https://obidanismanlik.sahibinden.com/"><span style="font-size:2rem;"><b>s</b></span></a></li>
                            <li><a href="https://youtube.com/%40ObiDanismanlik"><i class="fa fa-youtube-play"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End top header -->

    <nav class="navbar navbar-default ">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Menüyü Aç/Kapat</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home"><img src="/assets/img/logo.png" alt=""></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse yamm" id="navigation">
                <div class="button navbar-right">
                    <button class="navbar-btn nav-button wow bounceInRight login" onclick=" window.open('/adverts/sell-house')" data-wow-delay="0.4s">Evimi Sat/Kirala</button>
                </div>
                <ul class="main-nav nav navbar-nav navbar-right">
                    <li class="wow fadeInDown" data-wow-delay="0.1s"><a class="" href="/home">Ana Sayfa</a></li>
                    <li class="wow fadeInDown" data-wow-delay="0.2s"><a class="" href="/properties">İlanlar</a></li>
                    <li class="wow fadeInDown" data-wow-delay="0.3s"><a href="/contact">İletişim</a></li>
                    <li class="wow fadeInDown" data-wow-delay="0.4s"><a href="/documents">Belgelerimiz</a></li>
                    <li class="dropdown ymm-sw " data-wow-delay="0.1s" id="logged-in-user-dropdown">
                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown" data-hover="dropdown" data-delay="200">
                            <span id="userName">Kullanıcı</span><b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu navbar-nav">
                            <li class="wow fadeInDown" data-wow-delay="0.2s"><a href="/users/" id="profileLink">Profil</a></li>
                            <li class="wow fadeInDown" data-wow-delay="0.2s"><a href="/adverts/create">İlan Ekle</a></li>
                            <li class="wow fadeInDown" data-wow-delay="0.2s"><a href="/user-properties/" id="user-properties-link">İlanlarım</a></li>
                            <li class="wow fadeInDown" data-wow-delay="0.2s"><a href="/adverts/client-requests">Müşteri İstekleri</a></li>
                            <li class="wow fadeInDown" data-wow-delay="0.2s"><a href="/adverts/pending-adverts" id="pending-properties-link">Bekleyen İlanlar</a></li>
                            <li class="wow fadeInDown" data-wow-delay="0.2s"><a href="#" id="logoutButton">Çıkış Yap</a></li>
                        </ul>
                    </li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!-- End of nav bar -->

    <div class="page-head">
        <div class="container">
            <div class="row">
                <div class="page-head-content">
                    <h1 class="page-title">İLAN DÜZENLE</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- End page header -->

    <!-- property area -->
    <div class="content-area submit-property" style="background-color: #FCFCFC;">
        &nbsp;
        <div class="container">
            <div class="clearfix">
                <div class="wizard-container">

                    <div class="wizard-card ct-wizard-orange" id="wizardProperty">
                        <form action="" method="">
                            <div class="wizard-header">
                                <h3>
                                    İLAN <b>DÜZENLE</b><br>
                                    <small>Toplam 4 adım ile ilanınızı düzenleyebilirsiniz. İlanınız admin tarafından onaylandıktan sonra yayınlanacaktır.</small>
                                </h3>
                            </div>

                            <ul>
                                <li><a href="#step1" data-toggle="tab">Adım 1 </a></li>
                                <li><a href="#step2" data-toggle="tab">Adım 2 </a></li>
                                <li><a href="#step3" data-toggle="tab">Adım 3 </a></li>
                                <li><a href="#step4" data-toggle="tab">BİTİR </a></li>
                            </ul>

                            <div class="tab-content">

                                <div class="tab-pane" id="step1">
                                    <div class="row p-b-15  ">
                                        <h4 class="info-text"> Temel bilgilerle başlayalım</h4>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>İlan Adı <small>(zorunlu)</small></label>
                                                <input id="advert-title" name="propertyname" type="text" class="form-control" placeholder="Kat Dubleks Daire ..." required>
                                            </div>

                                            <div class="form-group">
                                                <label>İlan Fiyatı <small>(zorunlu)</small></label>
                                                <input id="advert-price" name="propertyprice" type="number" min="0" class="form-control" placeholder="3330000" required>
                                            </div>
                                            <div class="form-group">
                                                <label>Adres <small>(zorunlu)</small></label>
                                                <textarea id="advert-address" name="discrition" class="form-control" placeholder="Şu cadde, şu sokak..." required></textarea>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Bina Yaşı <small>(zorunlu)</small></label>
                                                        <input id="advert-building-age" name="propertyprice" type="number" min="0" class="form-control" placeholder="7" required>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Bina Toplam Kat <small>(zorunlu)</small></label>
                                                        <input id="advert-building-floors" name="propertyprice" type="number" min="0" class="form-control" placeholder="5" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Ev Toplam Kat <small>(zorunlu)</small></label>
                                                        <input id="advert-number-of-floors" name="propertyprice" type="number" min="0" class="form-control" placeholder="Daire ise 1, Dubleks ise 2" required>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Aylık Aidat <small>(zorunlu)</small></label>
                                                        <input id="advert-dues" name="propertyprice" type="number" min="0" class="form-control" placeholder="80" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Balkon Sayısı <small>(zorunlu)</small></label>
                                                        <input id="advert-balcony-count" name="propertyprice" type="number" min="0" class="form-control" placeholder="1" required>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Mülk Sahibinin Telefonu: <small>(zorunlu)</small></label>
                                                        <input id="advert-property-owner-phone" type="text" class="form-control" placeholder="05..." required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row p-b-15  ">
                                        <div class="col-sm-6 padding-top-15" style="padding-left: 0px; padding-right: 0px">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Cephe <small>(zorunlu)</small></label>
                                                    <select id="lunchBegins" class="selectpicker sidePicker" data-live-search="true" data-live-search-style="begins" title="Cephe" required>
                                                        <option value="0">Kuzey</option>
                                                        <option value="1">Kuzey Doğu</option>
                                                        <option value="2">Doğu</option>
                                                        <option value="3">Güney Doğu</option>
                                                        <option value="4">Güney</option>
                                                        <option value="5">Güney Batı</option>
                                                        <option value="6">Batı</option>
                                                        <option value="7">Kuzey Batı</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Isınma Tipi <small>(zorunlu)</small></label>
                                                    <select id="lunchBegins" class="selectpicker heatingPicker" data-live-search="true" data-live-search-style="begins" title="Isınma Tipi" required>
                                                        <option value="0">Merkezi Doğalgaz</option>
                                                        <option value="1">Bireysel Doğalgaz</option>
                                                        <option value="2">Kömür</option>
                                                        <option value="3">Soba</option>
                                                        <option value="4">Yerden Isıtma</option>
                                                        <option value="5">Isı Pompası</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                                <div class="form-group col-md-6">
                                                    <label>Mülk Ada No: <small>(zorunlu)</small></label>
                                                <input id="advert-property-island-number" type="number" min="0" class="form-control" placeholder="1" required>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label>Mülk Parsel No: <small>(zorunlu)</small></label>
                                                <input id="advert-property-parcel-number" type="number" min="0" class="form-control" placeholder="1" required>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                <!--  End step 1 -->

                                <div class="tab-pane" id="step2">
                                    <h4 class="info-text"> İlanınız Ne Kadar Güzel? </h4>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label>İlan Açıklaması :  <small>(zorunlu)</small></label>
                                                    <textarea id="advert-description" name="discrition" class="form-control" required></textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <select id="lunchBegins" class="selectpicker districtPicker" data-live-search="true" data-live-search-style="begins" title="İlçe" required>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <select id="lunchBegins" class="selectpicker quarterPicker" data-live-search="true" data-live-search-style="begins" title="Mahalle" required>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <select id="basic" class="selectpicker show-tick form-control statusPicker" title="Durum" required>
                                                        <option value="1">Satılık</option>
                                                        <option value="0">Kiralık</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <input id="advert-which-floor" name="propertyprice" type="number" min="0" class="form-control" placeholder="Dairenin bulunduğu kat" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 padding-top-15">
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label>Brüt Metre Kare <small>(zorunlu)</small></label>
                                                    <input id="advert-square-meter-gross" name="propertyprice" type="number" min="0" class="form-control" placeholder="88" required>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label>Net Metre Kare <small>(zorunlu)</small></label>
                                                    <input id="advert-square-meter-net" name="propertyprice" type="number" min="0" class="form-control" placeholder="77" required>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label>Kaç Oda + Kaç Salon <small>(zorunlu)</small></label>
                                                    <input id="advert-room-number" name="propertyprice" type="text" class="form-control" placeholder="3+1" required>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label>Banyo Sayısı <small>(zorunlu)</small></label>
                                                    <input id="advert-number-of-bathrooms" name="propertyprice" type="number" min="0" class="form-control" placeholder="1" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 padding-top-15">
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input id="advert-has-garage" type="checkbox"> Otopark
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input id="advert-is-furnished" type="checkbox"> Eşyalı
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input id="advert-has-lift" type="checkbox"> Asansör
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input id="advert-have-cellar" type="checkbox"> Kiler
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 padding-bottom-15">
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input id="advert-is-close-health-center" type="checkbox"> Sağlık Ocağına Yakın
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input id="advert-is-close-school" type="checkbox"> Okula Yakın
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input id="advert-is-in-site" type="checkbox"> Site İçerisinde
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                                <!-- End step 2 -->

                                <div class="tab-pane" id="step3">
                                    <h4 class="info-text">
                                        İlan ile ilgili resim ve videoları buradan düzenleyebilirsiniz. <br>
                                        <small>Video linki olarak YouTube <strong>EMBED</strong> linki girmelisiniz.</small>
                                    </h4>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="property-images">Resimleri Seçin :</label>
                                                <input class="form-control" type="file" id="property-images" multiple>
                                                <p class="help-block"><small>Buradan varolan resimlerin üzerine yeni ekleyeceğiniz resimleri ekleyebilirsiniz. Resimler <strong>anında</strong> veri tabanına eklenecektir.</small></p>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="property-video">İlan ile ilgili Video :</label>
                                                <input id="advert-video" class="form-control" value="" placeholder="http://www.youtube.com" name="property_video" type="text">
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <hr>
                                            <h5 class="info-text" style="text-transform: capitalize; text-align: left; margin">
                                                Sil butonuna tıklayarak istediğiniz resmi silebilirsiniz. <br>
                                                <small>Sildiğiniz resimler anında veri tabanından silinecektir.</small>
                                            </h5>
                                            <div class="form-group" id="imagesContainer">
                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--  End step 3 -->


                                <div class="tab-pane" id="step4">
                                    <h4 class="info-text"> Son Olarak Dökümanı Görüntüleyin/Değiştirin </h4>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="property-document">Döküman Güncellenecekse Dökümanı Seçin :</label>
                                                    <input id="advert-document" class="form-control" type="file" id="property-document">
                                                </div>
                                                <div class="col-sm-12" id="advert-document-container">
                                                </div>

                                                <p>
                                                    <strong>İlanınız admin tarafından onaylandıktan sonra yayınlanacaktır.</strong>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--  End step 4 -->

                            </div>

                            <div class="wizard-footer">
                                <div class="pull-right">
                                    <input type='button' class='btn btn-next btn-primary' name='next' value='DEVAM'/>
                                    <input type='button' class='btn btn-finish btn-primary ' name='finish' value='BİTİR' id="advert-update-button"/>
                                </div>

                                <div class="pull-left">
                                    <input type='submit' class='btn btn-previous btn-default' name='previous' value='ÖNCEKİ' />
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                    <!-- End submit form -->
                </div>
            </div>
        </div>
    </div>

    <!-- Footer area-->
    <div class="footer-area">

        <div class=" footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 wow fadeInRight animated" style="width: 50%;">
                        <div class="single-footer">
                            <h4>Hakkımızda </h4>
                            <div class="footer-title-line"></div>

                            <img src="~/assets/img/footer-logo.png" alt="" class="wow pulse" data-wow-delay="1s">
                            <p>Obi , her şey hayalindeki gibi</p>
                            <ul class="footer-adress">
                                <li>
                                    <i class="pe-7s-map-marker strong"> </i> Karataş Mahallesi, Şehit Binbaşı Arslan Kulaksız Bulvarı,<br /> Çağın Apt, 50/A Şahinbey / Gaziantep
                                </li>
                                <li><i class="pe-7s-mail strong"> </i> obidanismanlik@gmail.com</li>
                                <li><i class="pe-7s-call strong"> </i> 0530 962 36 36</li>
                                <li> <i class="pe-7s-call strong"></i> 0530 861 25 27</li>
                            </ul>

                            <div class="social pull-left" style="margin-top: 1rem;">
                                <ul>
                                    <li><a class="wow fadeInUp animated" href="https://www.facebook.com/obidanismanlik/" data-wow-delay="0.2s"><i class="fa fa-facebook"></i></a></li>
                                    <li><a class="wow fadeInUp animated" href="https://www.instagram.com/obidanismanlik/" data-wow-delay="0.4s"><i class="fa fa-instagram"></i></a></li>
                                    <li><a class="wow fadeInUp animated" href="https://obidanismanlik.sahibinden.com/" data-wow-delay="0.4s" style="display:flex;justify-content:center;align-items:center;"><span style="font-size:2rem;"><b>s</b></span></a></li>
                                    <li><a class="wow fadeInUp animated" href="https://youtube.com/%40ObiDanismanlik" data-wow-delay="0.4s"><i class="fa fa-youtube-play"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 wow fadeInRight animated" style="width: 50%;">
                        <div class="single-footer">
                            <h4>Hızlı Bağlantılar </h4>
                            <div class="footer-title-line"></div>
                            <ul class="footer-menu">
                                <li><a href="/home">ANA SAYFA</a>  </li>
                                <li><a href="/properties">İLANLAR</a>  </li>
                                <li><a href="/contact">İLETİŞİM</a></li>
                                <li><a href="/adverts/sell-house">EVİMİ <strong>SATMAK / KİRALAMAK</strong> İSTİYORUM</a>  </li>
                                <li><a href="/documents">BELGELERİMİZ</a>  </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copy text-center">
            <div class="container">
                <div class="row">
                    <div class="pull-left">
                        <span> (C) <a href="">Obi Gayrimenkul</a> , Tüm hakları saklıdır 2024  </span>
                    </div>
                    <div class="bottom-menu pull-right">
                        <ul>
                            <li><a class="wow fadeInUp animated" href="/home" data-wow-delay="0.2s">Ana Sayfa</a></li>
                            <li><a class="wow fadeInUp animated" href="/properties" data-wow-delay="0.3s">İlanlar</a></li>
                            <li><a class="wow fadeInUp animated" href="/documents" data-wow-delay="0.4s">Belgelerimiz</a></li>
                            <li><a class="wow fadeInUp animated" href="/contact" data-wow-delay="0.6s">İletişim</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/assets/js/modernizr-2.6.2.min.js"></script>
    <script src="~/assets/js/jquery-1.10.2.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/js/bootstrap-select.min.js"></script>
    <script src="~/assets/js/bootstrap-hover-dropdown.js"></script>
    <script src="~/assets/js/easypiechart.min.js"></script>
    <script src="~/assets/js/jquery.easypiechart.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/wow.js"></script>
    <script src="~/assets/js/icheck.min.js"></script>

    <script src="~/assets/js/price-range.js"></script>
    <script src="~/assets/js/jquery.bootstrap.wizard.js" type="text/javascript"></script>
    <script src="~/assets/js/jquery.validate.min.js"></script>
    <script src="~/assets/js/wizard.js"></script>

    <script src="~/assets/js/main.js"></script>
    <script src = "~/assets/js/logged-user-dropdown.js"></script>
    
    <script type="module" src="https://www.gstatic.com/firebasejs/11.0.1/firebase-app.js"></script>
    <script type="module" src="https://www.gstatic.com/firebasejs/11.0.1/firebase-firestore.js"></script>
    <script type="module" src="~/assets/js/edit-property-functions.js"s></script>
</body>
</html>